<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="unittests/bootstrap.php"
         cacheResult="false"
         colors="true"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnTestsThatTriggerErrors="true"
         displayDetailsOnTestsThatTriggerNotices="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         failOnDeprecation="true"
         failOnNotice="true"
         failOnWarning="true">
    <testsuites>
        <testsuite name="orange/dto">
            <directory>unittests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
</phpunit>
